/* src/components/basic/layout/layout.less */
/* authed by sunjia032 2018-07-12*/

.vp-layout{
    width:100%;
    height: 100%;
    display: flex;
    flex-direction:column;
}
.vp-layout-withSide{
    flex-direction:row;
    align-items:strech;
}